<div class="login-container">
  <p-card title="User Login">
    <h1>Welcome Back!</h1>
    <p>Login to your account to manage your tasks.</p>
    
    <h3>Name</h3>
    <input pInputText type="text" name="name" placeholder="Enter your username" />

    <h3>Password</h3>
    <p-password name="password" 
                placeholder="Enter your password" 
                [feedback]="false" 
                [toggleMask]="true" />
    <br><br>
    <p-button type="submit" label="Login" routerLink="/dashboard/nonstarted"/>
    
    <h5>Don't have an account?</h5>
    <a routerLink="/signup" routerLinkActive="active-item">Sign Up here</a>
  </p-card>
</div>