<ul>
    <li>
    <a href="#">
        <i class="pi pi-th-large"></i>
        <span>Dashboard</span>
    </a>
    </li>
    <li>
    <a href="#">
        <i class="pi pi-database"></i>
        <span>Database</span>
    </a>
    </li>
    <li>
    <a href="#">
        <i class="pi pi-cloud"></i>
        <span>Cloud Storage</span>
    </a>
    </li>
    <li>
    <a href="#">
        <i class="pi pi-flag"></i>
        <span>Reports</span>
    </a>
    </li>
    <li>
    <a href="#">
        <i class="pi pi-key"></i>
        <span>Security</span>
    </a>
    </li>
    <li>
    <a href="#">
        <i class="pi pi-table"></i>
        <span>Extensions</span>
    </a>
    </li>
    <li>
    <a href="#">
        <i class="pi pi-cog"></i>
        <span>Settings</span>
    </a>
    </li>
</ul>